{%- extends "base.html" %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    <script src="{{ url_for('static', filename='charts.js') }}"></script>
{% endblock %}

{% block title %}{{ tab.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h2>{{ tab.title }}</h2>
            </div>
            <div>
                <span class="badge badge-primary float-right">{{ tab.seqs|length }} sequence(s)</span><br>
                <p>Created on: {{ tab.timestamp }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#settings">Sequence details & plot settings</a>
            </div>
            <div id="settings" class="collapse show">
                <div class="card-body">
                    {% include 'tab_settings.html' %}
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#plot">Plot</a>
            </div>
            <div id="plot" class="collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md">
                            <canvas id="normalSkewChart" data-plot="{{ tab.plot.get_plot_data() }}"></canvas>
                        </div>
                        <div class="col-md">
                            <canvas id="cumulativeSkewChart" data-plot="{{ tab.plot.get_plot_data() }}"></canvas>
                        </div>
                    </div>
                    <hr class="small">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p>Total lenght: {{ tab.plot.get_total_len() }} | GC-content: {{ tab.plot.gc_content }}% | oriC: {{ tab.plot.get_origin() }}</p>
                        </div>
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Download</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('download_plot', id=tab.id) }}">Plot as PNG</a>
                                <a class="dropdown-item" href="{{ url_for('download_data', id=tab.id) }}">Data as CSV</a>
                            </div>
                            <a class="btn btn-warning" role="button" href="{{ url_for('delete_tab', id=tab.id) }}">Close File</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
