<form method="post" role="form">
    <div class="row">
        <div class="col-md-8">
            <div style="border-right: 1px solid #ddd;">
                <p><em>Select contig(s) to be analysed{% if tab.seqs|length > 2 %} (only 2/{{ tab.seqs|length }} records are displayed){% endif %}</em></p>
                <div class="form-group required">
                {% for seq in tab.seqs %}
                    {% if loop.index0 < 2 %}
                    <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="input-{{ seq.id }}" aria-describedby="desc-{{ seq.id }}" name="{{ seq.id }}" checked disabled>
                        <label class="custom-control-label" for="input-{{ seq.id }}">{{ seq.name }} | Len: {{ seq|length }} bp</label>
                        <small id="desc-{{ seq.id }}" class="form-text text-muted">{{ seq.description }}</small>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <p><em>Adjust plot settings</em></p>
            <div class="row form-group">
                <div class="col-md">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nucleotides</span>
                        </div>
                        <select id="n1" name="n1" class="custom-select custom-select-sm">
                            <option {% if tab.plot.settings.n1 == 'G' %}selected{% endif %}>G</option>
                            <option {% if tab.plot.settings.n1 == 'C' %}selected{% endif %}>C</option>
                            <option {% if tab.plot.settings.n1 == 'A' %}selected{% endif %}>A</option>
                            <option {% if tab.plot.settings.n1 == 'T' %}selected{% endif %}>T</option>
                        </select>
                        <select id="n2" name="n2" class="custom-select custom-select-sm">
                            <option {% if tab.plot.settings.n2 == 'G' %}selected{% endif %}>G</option>
                            <option {% if tab.plot.settings.n2 == 'C' %}selected{% endif %}>C</option>
                            <option {% if tab.plot.settings.n2 == 'A' %}selected{% endif %}>A</option>
                            <option {% if tab.plot.settings.n2 == 'T' %}selected{% endif %}>T</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Windowsize</span>
                        </div>
                        <input type="text" class="form-control form-control-sm" id="windowsize" name="windowsize" placeholder="{{ tab.plot.settings.windowsize }}" style="min-width: 50px;">
                    </div>
                </div>
                <div class="col-md">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Stepsize</span>
                        </div>
                        <input type="text" class="form-control form-control-sm" id="stepsize" name="stepsize" placeholder="{{ tab.plot.settings.stepsize }}" style="min-width: 60px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="small">
    <div class="d-flex justify-content-end">
        <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Apply & Reload">
        <a class="btn btn-outline-secondary" role="button" href="{{ url_for('reset_settings', id=tab.id) }}" style="margin-left:5px">Reset</a>
    </div>
</form>