<form method="post" role="form">
    <div class="form-group required">
        <p>Select sequence(s) to be analysed</p>
        {% for seq in tab.sequences.values() %}
            <div class="form-group custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="input-{{ seq.id }}" aria-describedby="desc-{{ seq.id }}" name="{{ seq.id }}" {% if seq.enabled %}checked{% endif %}>
                <label class="custom-control-label" for="input-{{ seq.id }}">{{ seq.name }}</label>
                <small id="desc-{{ seq.id }}" class="form-text text-muted">{{ seq.desc }}</small>
            </div>
        {% endfor %}
    </div>
    <hr class="small">
    <p>Adjust plot settings</p>
    <div class="d-flex justify-content-between align-items-center">
        <div class="form-group form-inline">
            <label for="n1" style="margin-right: 10px">N1: </label>
            <select id="n1" name="n1" class="custom-select custom-select-sm">
                <option {% if tab.settings.n1 == 'G' %}selected{% endif %}>G</option>
                <option {% if tab.settings.n1 == 'C' %}selected{% endif %}>C</option>
                <option {% if tab.settings.n1 == 'A' %}selected{% endif %}>A</option>
                <option {% if tab.settings.n1 == 'T' %}selected{% endif %}>T</option>
            </select>
        </div>
        <div class="form-group form-inline">
            <label for="n2" style="margin-right: 10px">N2: </label>
            <select id="n2" name="n2" class="custom-select custom-select-sm">
                <option {% if tab.settings.n2 == 'G' %}selected{% endif %}>G</option>
                <option {% if tab.settings.n2 == 'C' %}selected{% endif %}>C</option>
                <option {% if tab.settings.n2 == 'A' %}selected{% endif %}>A</option>
                <option {% if tab.settings.n2 == 'T' %}selected{% endif %}>T</option>
            </select>
        </div>
        <div class="form-group form-inline">
            <label for="windowsize" style="margin-right: 10px">Windowsize: </label>
            <input type="text" class="form-control form-control-sm" id="windowsize" name="windowsize" placeholder="{{ tab.settings.windowsize }}" style="width:70px">
        </div>
        <div class="form-group form-inline">
            <label for="stepsize" style="margin-right: 10px">Stepsize: </label>
            <input type="text" class="form-control form-control-sm" id="stepsize" name="stepsize" placeholder="{{ tab.settings.stepsize }}" style="width:70px">
        </div>
    </div>
    <hr class="small">
    <div class="form-group d-flex justify-content-end">
        <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Plot Sequence(s)">
        <a class="btn btn-warning" role="button" href="{{ url_for('delete_tab', id=tab.id) }}" style="margin-left:5px">Close File</a>
    </div>
</form>